body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: lightblue;
  margin: auto;
  text-align: justify;
}

h1 {
  color: rgb(57, 51, 51);
  text-align: center;
  padding-top: 2rem;
}

p {
  font-size: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 1.4;
}

#focus-button {
  position: relative;
  margin-left: 43%;
  background-color: #4c91af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  cursor: pointer;
}

.hidden {
  display: none;

}

#focus-area {
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 191, 242);
  color: rgb(11, 11, 11);
  padding: 2rem;
  position: absolute;
  height: 50vh;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15), 0 0 6px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
  font-size: 25px;
  transition: ease-in-out;
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* scroll-snap-type: y proximity;
    scroll-behavior: smooth; */
}

.micro-div {
  margin-bottom: 2rem;
  z-index: 10;
  opacity: 0.4;
  transition: all 150ms ease-in-out;
  max-width: 36ch;

  /* text-align: center; */
}

.micro-div.focused {
  /* scroll-snap-align: start; */
  opacity: 1;
  font-size: 1.1em;
  /* transform-origin: left;
  transform: scale(1.1);
  transition: all 500ms ease-out; */

}
